<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.openBanking.modules.member.MemberMapper">

    <resultMap id="resultMapObj" type="com.openBanking.modules.member.Member"></resultMap>
    
    <insert id="memberInst">
    	INSERT INTO infraMember (
    		ifmmName
    		,ifmmId
    		,ifmmPassword
    		,ifmmDob
    		,ifmmTelecom
    		,ifmmTelFirst
    		,ifmmTelLast
    		,ifmmPostNumber
    		,ifmmAddress
    		,ifmmAddressDetail
    		,ifmmGender
    		,ifmmPrivacyNy
    		,ifmmMarketingNy
    		,ifmmEmail
    		,ifmmEmailAddress
    		,ifmmTel
    		,ifmmAccessToken
    		,ifmmUserSeqNo
    		,ifmmRefreshToken
   		)
    	VALUES(
    		#{ifmmName}
    		,#{ifmmId}
    		,#{ifmmPassword}
    		,#{ifmmDob}
    		,#{ifmmTelecom}
    		,#{ifmmTelFirst}
    		,#{ifmmTelLast}
    		,#{ifmmPostNumber}
    		,#{ifmmAddress}
    		,#{ifmmAddressDetail}
    		,#{ifmmGender}
    		,#{ifmmPrivacyNy}
    		,#{ifmmMarketingNy}
    		,#{ifmmEmail}
    		,#{ifmmEmailAddress}
    		,#{ifmmTel}
    		,#{ifmmAccessToken}
    		,#{ifmmUserSeqNo}
    		,#{ifmmRefreshToken}
    	)	
   		<selectKey resultType="String" keyProperty="ifmmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
    </insert> 
	
	<select id="checkId" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			infraMember
		WHERE 1=1
			AND ifmmId = #{ifmmId}
	</select>
	
	<select id="login" resultMap="resultMapObj">
		SELECT 
			*
		FROM 
			infraMember
		WHERE 1=1
			AND ifmmId = #{ifmmId}
			AND ifmmPassword = #{ifmmPassword}
	</select>
	
	<!-- accountBookInst -->
	    <insert id="accountBookInst">
	    	INSERT INTO accountBook (
	    		useMoney
	    		,type
	    		,category
	    		,client
	    		,methodOfPayment
	    		,date
	    		,memo
	   		)
	    	VALUES(
	    		#{useMoney}
	    		,#{type}
	    		,#{category}
	    		,#{client}
	    		,#{methodOfPayment}
	    		,#{date}
	    		,#{memo}
	    	)	
	   		<selectKey resultType="String" keyProperty="seq" order="AFTER">
				SELECT last_insert_id()
			</selectKey>
	    </insert> 
	    
</mapper>	   