	/* 버튼css */
		.btn_AT {
		    border: 0;
		    line-height: 2.5;
		    padding: 0 20px;
		    font-size: 1rem;
		    text-align: center;
		    color: #fff;
		    text-shadow: 1px 1px 1px #000;
		    border-radius: 10px;
		    background-color: #454d5b;
		    background-image: linear-gradient(to top left,
		                                      rgba(0, 0, 0, .2),
		                                      rgba(0, 0, 0, .2) 30%,
		                                      rgba(0, 0, 0, 0));
		    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
		                inset -2px -2px 3px rgba(0, 0, 0, .6);
		}
		
		.btn_AT:hover {
		    background-color: #454d5b;
		}
		
		.btn_AT:active {
		    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
		                inset 2px 2px 3px rgba(0, 0, 0, .6);
		}
		/* 버튼css */
		
		.mWidth {
			width : 600px;
			margin : auto;
			
		}
		.blankHeight{
			margin-top : 20px;
		}
		
		.underLine {
			border-bottom : 1px solid;
			border-color : lightgray;
		}
		
		.input_box {
		    font-size: 1rem;
		    font-weight: 400;
		    line-height: 1.5;
		    color: #212529;
		    background-color: #fff;
		    background-clip: padding-box;
		    border: 1px solid #ced4da;
		    appearance: none;
		    border-radius: 0.375rem;
		    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		}
		
		.input_select {
		    width: 100%;
		    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
		    font-size: 1rem;
		    font-weight: 400;
		    line-height: 1.5;
		    color: #212529;
		    background-color: #fff;
		    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
		    background-repeat: no-repeat;
		    background-position: right 0.75rem center;
		    background-size: 16px 12px;
		    border: 1px solid #ced4da;
		    border-radius: 0.375rem;
		    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		    appearance: none;
		}
		
		.inputBOx_myAccount {
			width : 500px;
			margin-bottom : 3px;
			border-style : none;
		}
		
		.inputBox_possible {
			margin-top : 3px;
			border-style:none;
		}
		
		.inputBox_sendAccount {
			width : 400px;
			border-style : none;
		}
		
		.inputBox_won {
			width : 500px;
			border-style : none;
		}
		
		.underBtn {
			padding : 20px;
			margin-left : 150px;
		}
		
		.calculator {
			width : 15%;
			position: absolute; 
			top: 48%;
			left : 32%;
		}
		
		.mouse_click {
			width : 15%;
			position: absolute; 
			top: 79%;
			left : -3%;
		}