#wrap {
	margin: 50px 0 50px 0;
}

.login-wrap, .signup-wrap, .find-wrap {
	width : 1200px;
	margin : auto;
	padding-bottom : 50px;
	border-top: 2px solid #454D5B;
	border-bottom: 1px solid #CDD7E7;
}
	
.tit {
	font-size : 23px;
	margin-left: 380px;
	color : #454D5B
}

.form-box {
	width : 700px;
	height : 100%;
	margin : auto;
	margin-top: 50px;
}

.input-wrap {
	display: flex;
	width : 100%;
	margin: auto;
	justify-content: center;
}

#loginBtn {
	height: 100%;
	width: 100px;
	background-color: #0F0060;
	color : white;
}

.btn-wrap {
	width: 70%;
	margin : auto;
	margin-top : 30px;
	display: flex;
	justify-content: space-between;
}

.btn-wrap .btn {
	width : 140px;
	height : 35px;
	border : 1px solid #A7A19A;
	background-color: white;
	color : #A7A19A;
	border-radius: 0px;
	font-size: 15px;
}

.btn-sm {
	display:block;
	border : 1px solid #DADADA;
	height: 26px;
}


.table {
	margin : 10px 0 20px 0;
	width : 500px;
}

.table caption {
	caption-side: top;
	color : black;
}

.table label {
	padding: inherit;
}

.table .text-input {
	border : 1px solid #DADADA;
	padding: 2px;
}

.table th {
	background-color: #F7F8F9;
	text-align: center;
}

.btn-sm {
	display:block;
	border : 1px solid #DADADA;
	height: 26px;
}

.next-btn {
	border : 1px solid #BEB4AF;
	width : 200px;
	color : white;
	background-color : #BEB4AF;
	border : 0px;
	border-radius: 0px;
}

.next-btn:hover {
	color : white;
	background-color : #BEB4AF;
	border : 0px;
}

.tap-menu {
	width : 60%;
	margin: auto;
	margin-top: 50px;
}

.nav-tabs .nav-link {
	width : 50%
}

.nav-tabs .nav-link.active {
	border-color: #A7A19A #A7A19A #fff;
}

.nav-tabs .nav-link {
	border: 1px solid #EBEBEB;
	border-radius: 0px;
}

.tab-content {
	margin-top: 50px;
}
