@charset 'utf-8';

@font-face{font-family:'Pretendard K Edition';font-style:normal;font-display:swap;font-weight:400;src:url("../mmk/font/PretendardKEdition-Regular-subset.woff2") format("woff2"),url("../mmk/font/PretendardKEdition-Regular-subset.woff") format("woff")}
@font-face{font-family:'Pretendard K Edition';font-style:normal;font-display:swap;font-weight:700;src:url("../mmk/font/PretendardKEdition-Bold-subset.woff2") format("woff2"),url("../mmk/font/PretendardKEdition-Bold-subset.woff") format("woff")}

ul,ol{list-style:none}

.blind {visibility:hidden; position:absolute; left:-9999em; width:1px; height:1px; margin:0; padding:0; background:none; font-size:0; line-height:0; text-indent:-9999em}

label + label{margin-right:15px}
label:first-child{margin-right:15px;}

html.mobile input[disabled],
html.mobile input[readonly],
html.mobile input[disabled="disabled"],
html.mobile input[readonly="readonly"]{opacity:1;}
html.mobile input[type="tel"]::-webkit-input-placeholder,
html.mobile input[type="text"]::-webkit-input-placeholder,
html.mobile input[type="email"]::-webkit-input-placeholder,
html.mobile input[type="password"]::-webkit-input-placeholder{line-height:normal;line-height:1.5;vertical-align:text-top;color:#979088;opacity:1;} /* 2017-07-21 ê¸°ì¡´ #d1c8bd color ìˆ˜ì • */
html.mobile input::-webkit-input-placeholder[disabled],
html.mobile input::-webkit-input-placeholder[readonly]{opacity:1 !important;}
html.mobile input:-moz-placeholder[disabled],
html.mobile input:-moz-placeholder[readonly]{opacity:1 !important;}
html.mobile input::-moz-placeholder[disabled],
html.mobile input::-moz-placeholder[readonly]{opacity:1 !important;}
html.mobile input:-ms-input-placeholder[disabled],
html.mobile input:-ms-input-placeholder[readonly]{opacity:1 !important;}


html.mobile .add_search input::-webkit-input-placeholder{color:#fff !important;}


.hdd{display:block !important;width:10px;color:transparent;opacity:0;height:0;line-height:0;letter-spacing:0;}

/*@font-face{
	font-family: 'markoffc';
	font-style: normal;
	src: url('font/MarkOffc-CondRegular.ttf') format('truetype');
}
@font-face{
	font-family: 'markoffc_m';
	font-style: normal;
	src: url('font/MarkOffc-CondMedium.ttf') format('truetype');
}
@font-face{
	font-family: 'notos';
	font-style: normal;
	src: url('font/NotoSansCJKkr-Regular.otf');
	src: url('font/NotoSansCJKkr-Regular.otf') format('truetype');
}
@font-face{
	font-family: 'notos_m';
	font-style: normal;
	src: url('font/NotoSansCJKkr-Medium.otf');
	src: url('font/NotoSansCJKkr-Medium.otf') format('truetype');
}*/



@font-face{
	font-family: 'markoffc';
	font-style: normal;
	src: url('font/k-MarkOffc-Cond.ttf') format('truetype');
}
@font-face{
	font-family: 'markoffc_m';
	font-style: normal;
	src: url('font/K-MarkOffc-CondMedium.ttf') format('truetype');
}
