<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.openBanking.modules.code.CodeMapper">

<resultMap id="resultMapObj" type="com.openBanking.modules.code.Code"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
		select
			a.ccSeq
			,ccgSeq
			,ccName
			,ccUseNy
			,ccOrder
			,ccDelNy
		from CC
		where 1=1
	</select>
	
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			ccSeq
			, ccName
			, ccgSeq
			, ccOrder
		FROM
			CC
		WHERE 1=1
			AND ccDelNy = 0
		    AND ccUseNy = 1
    </select>	


</mapper>	