<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.openBanking.modules.account.AccountMapper">

    <resultMap id="resultMapObj" type="com.openBanking.modules.account.Account"></resultMap>
    
  <!-- selectList -->
    <select id="selectList" resultMap="resultMapObj">
    	select
    		seq
    		, ifmmSeq
    		, availableAmt
    		, bankName
    		, balanceAmt
    		, availableAmt
    		, accountType
    		, productName
    		, accountIssueDate
    		, maturityDate
    		, lastTranDate
    		, accountNumber
   		from account
   		where 1=1
    </select>
    	
  <!-- selectList2 -->	
    <select id="selectList2" resultMap="resultMapObj">
    	select
   			seq
    		, ifmmSeq
    		, cardId
    		, cardNumMasked
    		, cardName
    		, cardType
    		, settlementBankCode
    		, issueDate
   		from card
   		where 1=1
    </select>
    
  <!-- accountBookInst -->
    <insert id="accountBookInst">
    	INSERT INTO accountBook (
    		seq
    		,memberSeq
    		,type
    		,category
    		,client
    		,methodOfPayment
    		,date
    		,memo
   		)
    	VALUES(
    		#{seq}
    		,#{memberSeq}
    		,#{type}
    		,#{category}
    		,#{client}
    		,#{methodOfPayment}
    		,#{date}
    		,#{memo}
    	)	
   		<selectKey resultType="String" keyProperty="ifmmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
    </insert> 
	
	    
</mapper>	   