<!doctype html>
<html lang="ko">
	<head>
	</head>
	<body>
		<div>
			<h1>Index</h1>
			<ul style="font-size: 30px;">
				<li style="margin-bottom: 15px;"><a href="home.html">홈</a></li>
				<li style="margin-bottom: 15px;">
					회원
					<ul>
						<li>
							<a href="login.html">로그인</a>
						</li>
						<li>
							<a href="signup.html">회원가입</a>
						</li>
						<li>
							<a href="signupCompleted.html">회원가입 후</a>
						</li>
						<li>
							<a href="findId.html">아이디 찾기</a>
						</li>
						<li>
							<a href="indPw.html">비밀번호 찾기</a>
						</li>
						<li>
							<a href="passwordmodForm.html">비밀번호 변경</a>
						</li>
					</ul>
				</li>
				<li style="margin-bottom: 15px;">
					계좌
					<ul>
						<li>
							<a href="account.html">계좌조회</a>
						</li>
						<li>
							<a href="accountCheck.html">상세조회</a>
						</li>
						<li>
							<a href="accountTransfer.html">계좌이체</a>
						</li>
						<li><a href="accountBook.html">가계부</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</body>
</html>